In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [5]:
engine = create_engine('mysql+pymysql://root:detgonz1289@localhost/test')

In [8]:
res = engine.execute('select * from pet;')

In [10]:
res.fetchall()

[('Whistler', 'Gwen', 'bird', None, datetime.date(1997, 12, 9), None),
 ('Fluffy', 'Harold', 'cat', 'f', datetime.date(1993, 2, 4), None),
 ('Claws', 'Gwen', 'cat', 'm', datetime.date(1994, 3, 17), None),
 ('Buffy', 'Harold', 'dog', 'f', datetime.date(1989, 5, 13), None),
 ('Fang', 'Benny', 'dog', 'm', datetime.date(1990, 8, 27), None),
 ('Bowser', 'Diane', 'dog', 'm', datetime.date(1979, 8, 31), datetime.date(1995, 7, 29)),
 ('Chirpy', 'Gwen', 'bird', None, datetime.date(1998, 9, 11), None),
 ('Slim', 'Benny', 'snake', 'm', datetime.date(1996, 4, 29), None)]

In [11]:
res = pd.read_sql('select * from pet;', engine)

In [12]:
res

       name   owner species   sex       birth       death
0  Whistler    Gwen    bird  None  1997-12-09        None
1    Fluffy  Harold     cat     f  1993-02-04        None
2     Claws    Gwen     cat     m  1994-03-17        None
3     Buffy  Harold     dog     f  1989-05-13        None
4      Fang   Benny     dog     m  1990-08-27        None
5    Bowser   Diane     dog     m  1979-08-31  1995-07-29
6    Chirpy    Gwen    bird  None  1998-09-11        None
7      Slim   Benny   snake     m  1996-04-29        None