In [4]:
import matplotlib.pyplot as plt
import numpy as np
import os
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime


import bar_chart_race as bcr
%matplotlib inline

In [ ]:
fig ,ax = plt.subplots()
plt.plot()

In [ ]:
x = np.arange(0,10,1)

y = x**2

plt.plot(x,y)
plt.show();

In [ ]:
fig ,ax = plt.subplots()
ax.plot([1,2,3,4],[1,3,4,5], color = 'g')

ax.plot([2,3,5,6],[2.3,4.5,5.5,6.5], color = 'r')

In [ ]:
x = np.linspace(0,2,100)

fig,ax = plt.subplots(figsize = (8,8))
ax.plot(x,x,label = 'lineal')
ax.plot(x,x**2, label = 'cuadratica')
ax.plot(x,x**3, label = 'cubica')

ax.set_xlabel('etiqueta x')
ax.set_ylabel('etiqueta y')
ax.set_title('plot')
ax.legend()

In [ ]:
plt.scatter(x,y);

In [ ]:
plt.plot(x,y, 'o');

In [ ]:
plt.plot(x,y, 'ro');

In [ ]:
plt.plot(x,y, 'g*');

In [ ]:
plt.plot(x,y, 'r-');

In [ ]:
plt.plot(x,y, 'b.')

In [ ]:
plt.bar(x,y)

In [ ]:
plt.barh(x,y)

In [ ]:
a = np.random.random((10,1))
b= np.random.random((10,1))
c = np.random.random((10,1))

plt.figure(figsize = (10,4))
plt.subplot(1,3,1)
plt.title('otro plot')
plt.plot(a)
plt.plot(b)
plt.subplot(1,3,2)
plt.title('otro plot 2-')
plt.plot(b)
plt.plot(c);
plt.subplot(1,3,3)
plt.bar(x,y)

In [ ]:
fig = plt.figure(figsize = (10,4))
display(fig)
for i in range(4):
    a = np.random.random(10)
    plt.subplot(2,2,i+1)
    plt.plot(a);
    
plt.savefig('data/4plots.png')

In [ ]:
x=np.array([1,1,1,1,1,1,1,1,1,1])
y=np.random.random(10)

print(x, y)

In [ ]:
plt.scatter(x,y)

In [ ]:
for i in range(0,5,1):
    plt.scatter(x+i,y)
plt.plot(x+5,y, 'y+');

In [ ]:
cloud=np.random.random((2, 100))
plt.scatter(*cloud)
plt.savefig('data/nube.jpg')
plt.show();

In [ ]:
from mpl_toolkits.mplot3d import Axes3D

In [ ]:
ang=np.linspace(-5*np.pi, 5*np.pi, 200)

In [ ]:
z = np.linspace(-4,4,200)
x=3*np.cos(ang)
y = 3*np.sin(ang)

fig = plt.figure()
ax = fig.gca(projection = '3d')
ax.plot(x,y,z)
plt.show();

In [ ]:
data = pd.read_csv('data/iris.csv')
data

In [ ]:
x = data['sepal.length']
y = data['sepal.width']

z= data['petal.length']

In [ ]:
fig = plt.figure()
ax = fig.gca(projection = '3d')
ax.scatter(x,y,z)
plt.show();

In [ ]:
z=np.linspace(-4, 4, 200)

r=2*z+1

x=r*np.cos(ang)
y=r*np.sin(ang)

fig=plt.figure()
ax=fig.gca(projection='3d')
ax.plot(x, y, z)
plt.show();

In [ ]:

def square(L, c=(0, 0)):
    x=(np.array([0,0,1,1, 0])*L)-c[0]-L/2
    y=(np.array([0,1,1,0, 0])*L)-c[1]-L/2
    return np.array([x, y])

In [ ]:
c = square(10,(0,0))
c

In [ ]:
plt.plot(c[0],c[1], 'bo')

In [ ]:
for i in range(10):
    c = square(9-i, (0,0))
    plt.plot(*c)

In [ ]:
for i in range(10):
    c = square(9-i, (0,i))
    plt.plot(*c)

In [ ]:
for i in range(10):
    c = square(9-i, (i,0))
    plt.plot(*c)

In [ ]:
day = pd.read_csv('data/day.csv')

In [ ]:
plt.scatter('temp', 'cnt', data = day, c = 'season')
plt.xlabel('Temp normalizada en Celsius', fontsize = 'large')
plt.ylabel('Conteo de bicicletas',fontsize = 'large')
plt.legend()

In [ ]:
plt.rcParams['figure.figsize'] = [15,10]

fontdict = {'fontsize':18,
            'weight':'bold',
            'horizontalalignment': 'center'}

fontdictx = {'fontsize':18,
            'weight':'bold',
            'horizontalalignment': 'center'}

fontdicty = {'fontsize':16,
            'weight':'bold',
            'verticalalignment': 'baseline',
            'horizontalalignment': 'center'}

spring = plt.scatter('temp','cnt',data = day[day['season']== 2], marker = 'o', c = 'orange')
summer = plt.scatter('temp','cnt',data = day[day['season']== 3], marker = 'o', c = 'green')
autum = plt.scatter('temp','cnt',data = day[day['season']== 4], marker = 'o', c = 'blue')
winter = plt.scatter('temp','cnt',data = day[day['season']== 1], marker = 'o', c = 'red')

plt.legend(handles = (spring,summer,autum,winter),
          labels = ('primavera','verano','oto√±o','invierno'),
          title = 'estaciones',title_fontsize = 16,
          scatterpoints = 1,
          bbox_to_anchor = (1,0.7), loc = 2, borderaxespad = 1.,
          ncol= 1,
          fontsize = 14)
plt.title('relacion de renta de bicicletas por estacion y por temperatura', fontdict = fontdict, color = 'black')
plt.xlabel('tmp normalizada', fontdict = fontdictx)
plt.ylabel('conteo bicicletas', fontdict = fontdicty)

In [ ]:
day

In [ ]:
fig = plt.figure()

plt.rcParams['figure.figsize'] = [10,10]
plt.rcParams['font.weight'] = 'bold'

plt.subplots_adjust(wspace = 0.5)


fontdicty1={'fontsize': 18,
          'weight' : 'bold'}

fontdictx1={'fontsize': 18,
          'weight' : 'bold',
          'horizontalalignment': 'center'}

fig.suptitle('Rent de bicicletas, por temp, y por estacion', fontsize = 25, position = (0.5,1.0))

ax3 = fig.add_subplot(143) #sharey=ax3)
ax3.scatter('temp', 'cnt', data=day.loc[day['season']==4], c="brown")
ax3.set_title('Fall or Autumn', fontdict=fontdict,color="brown")


ax1 = fig.add_subplot(141, sharey=ax3)
ax1.scatter('temp', 'cnt', data=day.loc[day['season']==2], c="green")
ax1.set_title('Spring', fontdict=fontdict, color="green")
ax1.set_ylabel("Count of Total Rental Bikes", fontdict=fontdicty1, position=(0.5,0.5))


ax2 = fig.add_subplot(142, sharey=ax3)
ax2.scatter('temp', 'cnt', data=day.loc[day['season']==3], c="orange")
ax2.set_title('Summer', fontdict=fontdict, color="orange")
plt.setp(ax2.get_yticklabels(), visible=False)



ax4 = fig.add_subplot(144, sharey=ax3)
ax4.scatter('temp', 'cnt', data=day.loc[day['season']==1])
ax4.set_title('Winter', fontdict=fontdict, color="blue")
ax4.set_xlabel("Normalized temperature", fontdict=fontdictx, position=(-1.5,0));

In [ ]:
import seaborn as sns

In [ ]:
data

In [ ]:
sns.countplot('variety', data = data)
plt.show();

In [ ]:
data['variety'].value_counts().plot.pie(explode = [0,.1,0.1], shadow = True, figsize = (10,8), autopct = "%1.2f%%")

In [ ]:
sns.jointplot(x = 'sepal.length', y= 'sepal.width', data = data)

In [ ]:
sns.jointplot(x = 'sepal.length', y= 'sepal.width', data = data, kind = 'reg')

In [ ]:
sns.jointplot(x = 'sepal.length', y= 'sepal.width', data = data, kind = 'hex')

In [ ]:
sns.jointplot(x = 'sepal.length', y= 'sepal.width', data = data, kind = 'kde', space = 0, color = 'y')

In [ ]:
sns.jointplot(x = 'sepal.length', y= 'sepal.width', data = data,color = 'k').plot_joint(sns.kdeplot, zorder = 0, n_levels = 6)

In [ ]:
sns.FacetGrid(data, hue = 'variety', size = 5).map(plt.scatter,'sepal.length','sepal.width').add_legend()

In [ ]:
fig = plt.gcf()
fig.set_size_inches(10,7)
fig = sns.boxplot(x = 'variety', y=  'petal.length', data = data, order = ['Setosa','Virginica','Versicolor'],
                  linewidth =2.5, orient = 'v',dodge = True)

In [ ]:
fig = plt.gcf()
fig.set_size_inches(10,7)
fig = sns.stripplot(x = 'variety', y=  'petal.length', data = data, jitter = True, edgecolor = 'gray', size =8,
                    orient = 'v', palette = 'winter')

In [ ]:
fig = plt.gcf()
fig.set_size_inches(10,7)
fig = sns.boxplot(x = 'variety',y=  'petal.length', data = data)
fig = sns.stripplot(x = 'variety', y=  'petal.length', data = data, jitter = True, edgecolor = 'gray', size =8,
                    orient = 'v', palette = 'winter')

In [ ]:
fig = plt.gcf()
fig.set_size_inches(10,7)
fig = sns.violinplot(x = 'variety',y=  'petal.length', data = data)

In [ ]:

plt.figure(figsize = (15,10))
plt.subplot(2,2,1)
sns.violinplot(x = 'variety',y=  'petal.length', data = data)
plt.subplot(2,2,2)
sns.violinplot(x = 'variety',y=  'petal.width', data = data)
plt.subplot(2,2,3)
sns.violinplot(x = 'variety',y=  'sepal.length', data = data)
plt.subplot(2,2,4)
sns.violinplot(x = 'variety',y=  'sepal.width', data = data)

In [ ]:
sns.pairplot(data, hue = 'variety')

In [ ]:
sns.set(style ='white')
rs = np.random.RandomState(33) #Seed

In [ ]:
d = pd.DataFrame(data = rs.normal(size = (100, 26)),columns = list(ascii_letters[26:]))

In [ ]:
corr = d.corr()

In [ ]:
mask = np.triu(np.ones_like(corr, dtype = np.bool))
mask

In [ ]:
cmap = sns.diverging_palette(220,10,as_cmap= True)
cmap

In [ ]:
f, ax = plt.subplots(figsize = (11,9))
sns.heatmap(corr, mask = mask, cmap = cmap, vmax = .3, center = 0,
           square = True, linewidths = 5, cbar_kws = {'shrink':.5});

In [ ]:
df=pd.read_csv('data/vehicles.csv')
df.head()

In [ ]:
sns.countplot(df['Fuel Type'])

In [ ]:
df['Fuel Type'].hist()

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'pie')

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'bar')

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'barh')

In [ ]:
sns.lmplot(x = 'Highway MPG',y ='City MPG', data = df)

In [ ]:
pd.plotting.scatter_matrix(df, figsize=(15, 15));

In [ ]:
vehicles_mean=df[['Highway MPG', 'City MPG', 'Drivetrain']].groupby('Drivetrain').agg('mean')
vehicles_mean

In [ ]:
consumo_max=vehicles_mean.apply(lambda x: max(x['Highway MPG'], x['City MPG']), axis=1)
vehicles_mean['consumo_max']= consumo_max
vehicles_mean

In [ ]:
ax=vehicles_mean.plot.bar()
ax.plot(vehicles_mean['consumo_max'], 'go-')
ax.plot(0,30, marker = '$Hola$', color = 'blue', ms = 40)
ax.plot(7,30, marker = 'h', color = 'y', ms = 50)
ax.plot(7,25, marker = 's', color = 'y', ms = 20)

In [2]:
import bar_chart_race as bcr

In [5]:
crypto = pd.read_csv('data/crypto_complete.csv')

In [6]:
crypto.sort_index(inplace = True,ascending = True)

In [7]:
crypto.set_index('Date')

,bitcoin-cash,bitcoin,dash,eos,ethereum-classic,ethereum,iota,litecoin,nano,neo,ripple,stellar,tron,verge
Date,,,,,,,,,,,,,,
2018-05-07,1781.47,9665.85,486.01,18.400000,25.45,795.76,2.310000,171.92,8.790000,83.59,0.871236,0.414859,0.084966,0.075969
2018-05-06,1838.49,9940.14,521.14,17.900000,25.80,835.06,2.510000,182.88,9.080000,87.94,0.918675,0.432132,0.087098,0.079406
2018-05-05,1753.11,9964.50,508.47,18.570000,23.19,827.46,2.470000,181.63,9.390000,86.07,0.922354,0.435669,0.090875,0.082089
2018-05-04,1538.46,9779.20,502.68,18.060000,22.72,803.75,2.590000,170.38,10.440000,87.70,0.927695,0.439682,0.088867,0.081581
2018-05-03,1536.80,9798.33,511.29,19.270000,23.43,784.34,2.680000,164.00,9.930000,89.68,0.892916,0.442878,0.091438,0.084588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-17,438.90,3664.81,315.58,0.667683,10.21,257.00,0.505875,49.88,0.085101,20.64,0.181121,0.011710,0.003879,0.006152
2017-09-16,450.98,3808.84,301.23,0.685285,11.19,262.59,0.510361,52.83,0.088337,22.98,0.187417,0.012474,0.017671,0.006628
2017-09-15,448.39,3733.45,300.11,0.683713,11.20,258.66,0.509332,50.65,0.086548,19.12,0.189184,0.012571,0.001831,0.005604
2017-09-14,510.47,3920.60,303.74,0.754454,14.24,280.84,0.573630,62.43,0.092525,20.75,0.202010,0.015550,0.002479,0.006520
2017-09-13,519.20,4131.98,325.16,0.841224,14.45,291.12,0.595366,64.60,0.097609,21.29,0.209674,0.016301,0.002448,0.007028

In [8]:
bcr.bar_chart_race(crypto)

C:\Users\GralG\AppData\Roaming\Python\Python37\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\GralG\AppData\Roaming\Python\Python37\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            boolean index did not match indexed array along dimension 0; dimension is 15 but corresponding boolean dimension is 14

In [2]:
import chart_studio.plotly as py
import cufflinks as cf
from ipywidgets import interact
cf.go_offline()

In [4]:
df=pd.read_excel('data/Online Retail.xlsx')
df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [1]:
data=df[df.Country!='United Kingdom']
data= data.loc[(data['InvoiceDate'] >= '2011-4-1') & (data['InvoiceDate'] <= '2011-4-30') ]

NameError: name 'df' is not defined

In [ ]:
data=data.groupby('Country').sum()
data=data[['Quantity', 'Revenue']]

In [ ]:
fig = data.iplot(kind='bar', xTitle='Country', title='Cantidad Total y beneficio')

In [ ]:
import plotly.graph_objects as go

In [ ]:
data=df.loc[df.Description=='PARTY BUNTING']

In [ ]:
data=data.groupby('Country').mean()
data=data[['Quantity', 'UnitPrice']]

In [ ]:
data.reset_index(inplace = True)

In [ ]:
data.iplot(x= 'Quantity', y = 'UnitPrice', categories = 'Country',
          xTitle = 'Avg qty', yTitle = 'Avg unit price',
          color = 'blue', title = 'AVG Country')

In [ ]:
import plotly.express as px
fig = px.scatter(data, x= 'Quantity', y = 'UnitPrice', color = 'Country')
fig

In [ ]:
prod_lst=['JUMBO BAG RED RETROSPOT', 'CREAM HANGING HEART T-LIGHT HOLDER',
          'REGENCY CAKESTAND 3 TIER']
country_lst=['EIRE', 'Germany', 'France']

In [ ]:
data=df.loc[df.Description.isin(prod_lst)]
data=data.loc[data.Country.isin(country_lst)]

In [ ]:
data_v = data.pivot_table(values = 'Revenue', columns = 'Description',
                         index = 'Country', aggfunc = sum)
data_v

In [ ]:
data_v = data.pivot_table(values = 'Revenue', columns = 'Description',
                         index = 'Country', aggfunc = sum)
data_v

In [ ]:
data.groupby(['Country','Description'])['Revenue'].agg(sum)

In [ ]:
data_v.reset_index(inplace=True)
data_v.iplot(kind='bar', x='Country', title='Revenue by Country',
          xTitle='Country', yTitle='Revenue')

# Plotly

In [ ]:
import plotly.express as px
df = px.data.iris()
fig = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width',
              color='species')
fig.show()

In [ ]:
df = px.data.iris()
fig = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width',
                    color='petal_length', symbol='species')
fig.show()

In [ ]:
df = px.data.iris()
fig = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width',
              color='petal_length', size='petal_length', size_max=18,
              symbol='species', opacity=0.7)

# tight layout
fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))

In [ ]:
# Helix equation
t = np.linspace(0, 20, 100)
x, y, z = np.cos(t), np.sin(t), t

fig = go.Figure(data=[go.Scatter3d(
    x=x,
    y=y,
    z=z,
    mode='markers',
    marker=dict(
        size=12,
        color=z,                # set color to an array/list of desired values
        colorscale='Viridis',   # choose a colorscale
        opacity=0.8
    )
)])

# tight layout
fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig.show()